<%- include("partials/header") -%>


  <div class="jumbotron">
    
    <h1 class="display-4 jumboh1">Link shortner!</h1>
    <p class="lead" style="font-size: medium; color: teal;">Shrink big urls into small urls.</p>
    


    <hr class="my-4">

    <form target="/" method="POST">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">https://</span>
        </div>
        <input type="text" name="parentLink" class="form-control" placeholder="Paste link" aria-label="link"
          aria-describedby="basic-addon1">
      </div>


      <button type="submit" class="btn-grad btn btn-outline-success">Shrink Me!</button>

    </form>

  </div>

  <% if (link.length>=1) { %>


  <ul type="none" class="list-group">


    <span  style="margin-top: 40px;">Short URL:</span>

<li class="text-info">
  
<a id="p1" class="text-info" href="/<%=link[0].shrt %>" style="text-decoration: none;" >
  
  <p>
<%=link[0].shrt %></p>
</a>


<button class="btn btn-info" onclick="copyToClipboard()" >Copy Link</button>

</li>





    <span style="margin-top: 40px;">Original URL:</span>
    <a href="<%= link[0].original %>" style="text-decoration: none"; ><li class="text-info"><%= (link[0].original).substring(0,25)+"....." %> </li></a>
  </ul>


  <%  } %>



  
  <footer class="mt-auto text-white-50" style="position: fixed; bottom: 7px;">
    <p>Link shortner by <a href="/about" class="text-white" style="text-decoration: none;">Rishav</a>.</p>
    
  </footer>
  <%- include("partials/footer") -%>